<app-sidebar></app-sidebar>
   <!-- Page title-->
  <!-- Page title-->
  <div class="container" style="margin-right: 0%;">
    <div class="row">
      <div class="col-md-12">
        <!-- Contenido izquierdo -->
        <div class="border-bottom pt-20 mt-2 mb-5">
          <h2 class="mt-2 mt-md-4 mb-3 pt-3">Products</h2>
          <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
            <p class="text-muted">Este módulo lista todos los productos de la tienda.</p>
            <p class="font-size-sm font-weight-medium pl-md-4"><a class="text-nowrap" routerLinkActive="active" [routerLink]="['/index/products/create']" rel="noopener">Registrar nuevo<i class="cxi-angle-right font-size-base align-middle ml-1"></i></a></p>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="justify-content-center" style="margin-left: 355px;">
  <div class="col-md-12" > 
      <!-- Contenido del filtro de clientes -->
      <div class="card box-shadow-sm">
          <div class="card-header">
              <h5 >Filtro de Productos</h5>
          </div>
          <div class="card-header text-center">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="title the product" name="filtro" [(ngModel)]="filtro" >
                <button class="btn btn-dark" type="button" (click)="filtrar()">Filtrar</button>
              </div>
    </div>
  
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                  <thead class="thead-dark">
                    <tr>
                      <th>#</th>
                      <th>Title</th>
                      <th>Image</th>
                      <th>Price</th>
                      <th>Description</th>
                      <th>Stock</th>
                      <th>Category</th>
                      <th>Ventas</th>
                      <th>State</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody *ngIf="load_data">
                    <tr>
                      <td class="text-center"  colspan="9">
                    <!-- Custom size border spinner -->
                      <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                        <span class="visually-hidden">Loading...</span>
                      </div>
                      </td>
                    </tr>
                  </tbody>
                  <ng-container *ngIf="!load_data">
                   <tbody  *ngFor="let products of product | slice: (page-1)*pageSize : (page-1) * pageSize + pageSize" >
                      <tr>
                        <th>{{products.id}}</th>
                        <td>{{products.title}}</td>
                        <td><img [src]="products.frontpage" class="img-thumbnail rounded-0" alt="Square image" alt="Product Image" width="150"></td>
                        <td>{{products.price}}</td>
                        <td>{{products.description}}</td>
                        <td>{{products.stock}}</td>
                        <td>{{products.category}}</td>
                        <td>{{products.sales}}</td>
                        <td>{{products.state}}</td>
                        <td>
                          <div class="btn-group dropdown">
                              <button type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Actions
                              </button>
                          
                                 <div class="dropdown-menu">
                        <!--        <a href="#" class="dropdown-item" routerLinkActive="active" [routerLink]="['/index/users/edit/',user.id]" >Update</a>
                                <a href="#" class="dropdown-item" style="cursor:pointer;" data-toggle="modal"  [attr.data-target]="'#delete-'+products.id">Delete</a>-->
                              </div>
                            </div>
                          <div class="modal" id="delete-{{products.id}}" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title">Eliminar, {{ products.title }}</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  <p class="fs-sm">Desea eliminar este usuario?</p>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancelar</button>
                              <!--      <button type="button" class="btn btn-primary btn-sm" (click)="eliminar(products.id)">Sí, eliminar</button> -->
                                </div>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </ng-container>
                  
                </table>
            </div>
        </div>
        <div class="card-footer">
              <ngb-pagination
                [collectionSize]="product.length" 
                [(page)]="page" 
                [pageSize]="pageSize">
              </ngb-pagination>
        </div>
  </div>    
