.card-header{
    background-color: #7673734c;
    padding: 20px;
  }
  .card-footer{
    background-color: #7673734c;
    padding: 10px;
  }

  .panel{
    margin-left: 355px;
  }
  .title{
    margin-left: 380px;
    margin-right: 15px;
  }
  @media (max-width: 3500px) {

    .panel{
      margin-left: 14%;
      right: 1% ;
    }
    .title{
      margin-right: 33.5%;
    }
}
  @media  (max-width: 2000px) {

    .panel{
      margin-left: 21%;
      right: 1%;
    }
    .title{
      margin-right: 0%;
    }
  }
  @media  (max-width: 500px) {
    .panel{
      margin-left: auto;
      width:100%;
    }

    .title{
      margin-left: 0px;
    }
  }
