<app-sidebar></app-sidebar>

<!-- Page title-->
<form #registroForm="ngForm" (ngSubmit)="registro(registroForm)">
  <div
    class="border-bottom pt-2 mt-5 mb-5"
    style="margin-left: 380px; margin-right: 15px"
  >
    <h2 class="mt-2 mt-md-4 mb-3 pt-1">User</h2>
    <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
      <p class="text-muted">This module creates all the users of the store.</p>
    </div>
  </div>

  <div
    class="card box-shadow-sm mb-5"
    style="margin-left: 370px; margin-right: 15px"
  >
    <div class="card-header">
      <h5 style="margin-bottom: 0px">User register</h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-4 form-group">
          <label for="validationCustom01" class="form-label">Name</label>
          <input
            class="form-control"
            type="text"
            placeholder="Name"
            required
            name="name"
            [(ngModel)]="user.name"
          />
        </div>
        <div class="col-md-4 form-group">
          <label for="validationCustom01" class="form-label">Lastname</label>
          <input
            class="form-control"
            type="text"
            placeholder="Lastname"
            required
            name="lastname"
            [(ngModel)]="user.lastname"
          />
        </div>
        <div class="col-md-4 form-group">
          <label for="validationCustom01" class="form-label">Email</label>
          <input
            class="form-control"
            type="text"
            placeholder="Email"
            required
            name="email"
            [(ngModel)]="user.login.email"
            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}"
            #email="ngModel" 
          />
          <div *ngIf="email.invalid && (email.dirty || email.touched)">
            <div class="alert alert-danger" >
              Please enter a valid email!.
            </div>
          </div>
        </div>

        <div class="col-md-4 form-group">
          <label for="validationCustom01" class="form-label">Phone</label>
          <input
            class="form-control"
            type="text"
            placeholder="Phone"
            required
            name="phone"
            [(ngModel)]="user.phone"
            pattern="^\d{9}$"
            #phone="ngModel" 
          />
          <div *ngIf="phone.invalid && (phone.dirty || phone.touched)">
            <div class="alert alert-danger" >
              Please enter a valid phone number!.
            </div>
          </div>
        </div>
        <div class="col-md-4 form-group">
          <label for="validationCustom01" class="form-label">Password</label>
          <input
            class="form-control"
            type="password"
            placeholder="Password"
            required
            name="password"
            [(ngModel)]="user.login.password"
          />
        </div>
        <div class="col-md-4 form-group">
          <label for="validationCustom01" class="form-label">Nit</label>
          <input
            class="form-control"
            type="text"
            placeholder="Nit"
            required
            name="nit"
            [(ngModel)]="user.nit"
          />
        </div>

        <div class="col-md-4">
          <label for="validationCustom01" class="form-label">Address</label>
          <input
            class="form-control"
            type="text"
            placeholder="address"
            required
            name="address"
            [(ngModel)]="user.address"
          />
        </div>
        <div class="col-md-4">
          <label for="validationCustom01" class="form-label">Rol</label>
          <select
            class="form-select"
            aria-label="Default select example"
            name="rol"
            [(ngModel)]="user.login.rol"
          >
            <option selected disabled>Seleccionar</option>
            <option value="cliente">Cliente</option>
            <option value="administrador">Administrador</option>
          </select>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button *ngIf="!load_btn" class="btn btn-success mr-3" type="submit">
        Create User
      </button>
      <button
        *ngIf="load_btn"
        type="button"
        class="btn btn-secondary mr-3"
        disabled
      >
        <span
          class="spinner-grow spinner-grow-sm me-2"
          role="status"
          aria-hidden="true"
        ></span>
        creanding...
      </button>
      <button
        class="btn btn-warning"
        routerLinkActive="active"
        [routerLink]="['/index/users']"
      >
        Back
      </button>
    </div>
  </div>
</form>
