<app-header></app-header>
<main class="cs-page-wrapper">
  <nav class="bg-secondary mb-3 cooks" aria-label="breadcrumb">
    <div class="container">
      <ol class="breadcrumb breadcrumb-alt mb-0">
        <li class="breadcrumb-item">
          <a href="index.html"><i class="cxi-home"></i></a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
      </ol>
    </div>
  </nav>

  <section class="container pt-3 pt-md-4 pb-3 pb-sm-4 pb-lg-5 mb-4">
    <div class="row">
      <div class="col-lg-6">
        <div class="px-md-5">
          <h3 class="modal-title mt-4 mb-0 text-center">Login</h3>
          <p class="font-size-sm text-muted text-center">
            Sign in to your account using email and password provided during
            registration.
          </p>
          <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
            <div class="form-group">
              <label for="signin-email">Email</label>
              <input
                type="email"
                class="form-control"
                placeholder="Your email address"
                required
                name="email"
                [(ngModel)]="user.email"
              />
            </div>
            <div class="form-group">
              <label for="signin-password" class="form-label">Password</label>
              <div class="cs-password-toggle input-group-overlay">
                <input
                  type="password"
                  class="form-control appended-form-control"
                  id="signin-password"
                  placeholder="Your password"
                  required
                  name="password"
                  [(ngModel)]="user.password"
                />
                <!-- <div class="input-group-append-overlay">
                            <label class="btn cs-password-toggle-btn input-group-text">
                              <input type="checkbox" class="custom-control-input">
                              <i class="cxi-eye cs-password-toggle-indicator"></i>
                              <span class="sr-only">Show password</span>
                            </label>
                          </div> -->
              </div>
            </div>
            <div
              class="d-flex justify-content-between align-items-center form-group"
            >
              <a
                [routerLink]="['/update-password']"
                class="font-size-sm text-decoration-none"
                >Forgot your password?</a
              >
            </div>
            <button type="submit" class="btn btn-success btn-block">
              login
            </button>
            <!-- <p class="font-size-sm pt-4 mb-0">
                        No tienes una cuenta?
                        <a href="#" class="font-weight-bold text-decoration-none">Registrate</a>
                      </p> -->
          </form>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="px-md-5">
          <h3 class="modal-title mt-4 mb-0 text-center">User Registration</h3>
          <p class="font-size-sm text-muted text-center">
            Sign in to your account using email and password provided during
            registration.
          </p>
          <form
            #registroUser="ngForm"
            (ngSubmit)="registroNewUser(registroUser)"
          >
            <div class="form-group">
              <div class="row">
                <div class="col-lg-6">
                  <label for="signin-email">Name</label>
                  <input
                    type="email"
                    class="form-control"
                    placeholder="name"
                    required=""
                    name="name"
                    [(ngModel)]="newUser.name"
                  />
                </div>
                <div class="col-lg-6">
                  <label for="signin-email">Lastname</label>
                  <input
                    type="email"
                    class="form-control"
                    placeholder="lastname"
                    required=""
                    name="lastname"
                    [(ngModel)]="newUser.lastname"
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <label for="address">Address</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="address"
                    required=""
                    name="address"
                    [(ngModel)]="newUser.address"
                  />
                </div>
                <div class="col-lg-6">
                  <label for="phone">Phone</label>
                  <input
                    type="number"
                    class="form-control"
                    placeholder="phone"
                    required=""
                    name="phone"
                    [(ngModel)]="newUser.phone"
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <label for="nit">Nit</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="nit"
                    required=""
                    name="nit"
                    [(ngModel)]="newUser.nit"
                  />
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="signin-email">Email</label>
              <input
                type="email"
                class="form-control"
                placeholder="Your email address"
                required=""
                name="email"
                [(ngModel)]="newUser.login.email"
                pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}"
                #email="ngModel"
              />
              <div *ngIf="email.invalid && (email.dirty || email.touched)">
                <div class="alert alert-danger">
                  Please enter a valid email!.
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="signin-password" class="form-label">Password</label>
              <div class="cs-password-toggle input-group-overlay">
                <input
                  type="password"
                  class="form-control appended-form-control"
                  id="signin-password"
                  placeholder="Your password"
                  required=""
                  name="password"
                  [(ngModel)]="newUser.login.password"
                />
                <!-- <div class="input-group-append-overlay">
                                <label class="btn cs-password-toggle-btn input-group-text">
                                <input type="checkbox" class="custom-control-input">
                                <i class="cxi-eye cs-password-toggle-indicator"></i>
                                <span class="sr-only">Show password</span>
                                </label>
                            </div> -->
              </div>
            </div>
            <div class="form-group">
              <label for="signin-password" class="form-label"
                >Confirm Password</label
              >
              <div class="cs-password-toggle input-group-overlay">
                <input
                  type="password"
                  class="form-control appended-form-control"
                  id="confirmPassword"
                  placeholder="Confirm your password"
                  required
                  [(ngModel)]="confirmPassword"
                  name="confirmPassword"
                  (blur)="confirmPasswordTouched = true"
                />
              </div>
            </div>
            <div *ngIf="confirmPasswordTouched">
              <div *ngIf="newUser.login.password !== confirmPassword">
                <p class="text-danger">Las contraseñas no coinciden.</p>
              </div>
            </div>
            <div
              class="d-flex justify-content-between align-items-center form-group"
            >
              <!-- <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="remember-me" checked="">
                            <label for="remember-me" class="custom-control-label">Remember me</label>
                            </div> -->
              <a
                [routerLink]="['/update-password']"
                class="font-size-sm text-decoration-none"
                >Forgot password?</a
              >
            </div>
            <button type="submit" class="btn btn-success btn-block">
              Sign in
            </button>
            <!-- <p class="font-size-sm pt-4 mb-0">
                            Ya tienes una cuenta?
                            <a href="#" class="font-weight-bold text-decoration-none">Registrarme</a>
                        </p> -->
          </form>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
