<app-sidebar></app-sidebar>
<form #confForm="ngForm" (ngSubmit)="actualizar(confForm)">
  <div
    class="card box-shadow-sm mb-5 panel"
  >
    <div class="card-header">
      <h5 style="margin-bottom: 0px">Configuration update</h5>
    </div>
    <div class="card-body" *ngIf="config != undefined">
      <div class="row">
        <div class="col-md-4 form-group">
          <label for="validationCustom01" class="form-label"
            >Store's Name</label
          >
          <input
            class="form-control"
            type="text"
            placeholder="Nombre"
            required
            name="title"
            [(ngModel)]="config.title"
          />
        </div>
        <div class="col-md-4 form-group">
          <label for="validationCustom01" class="form-label">Serie</label>
          <input
            class="form-control"
            type="text"
            placeholder="Serie"
            required
            name="serie"
            [(ngModel)]="config.serie"
          />
        </div>
        <div class="col-md-4 form-group">
          <label for="validationCustom01" class="form-label">Correlative</label>
          <input
            class="form-control"
            type="text"
            placeholder="Correlativo"
            required
            name="correlative"
            [(ngModel)]="config.correlative"
          />
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-12">
          <app-create-category></app-create-category>
        </div>
      </div>
      <div class="form-group row">
        <label
          class="col-md-3 col-form-label font-weight-medium"
          for="file-input"
          >Logo</label
        >
        <div class="col-md-9">
          <div class="file-drop-area">
            <div class="file-drop-icon ci-upload"></div>
            <img
              *ngIf="!selectedFile"
              src="https://ecommercewebde.blob.core.windows.net/ecommerce/{{
                config.logo
              }}"
              style="width: 10%"
            />
            <span class="file-drop-message"
              >Drag and drop here to upload</span
            >
            <span class="contenedor-btn-file bordeado">
              <i class="fas fa-file"></i>
              Attach file
              <label for="btn-file"></label>
              <input
                type="file"
                id="btn-file"
                #fileInput
                (change)="fileSelected($event)"
                name="logo"
                [(ngModel)]="config.logo"
              />
            </span>
            <!-- Vista previa de la imagen -->
            <img
              [src]="selectedFile"
              *ngIf="selectedFile"
              class="img-thumbnail rounded-0"
              alt="Vista previa de la imagen"
              style="width: 20%"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-primary mr-3">Save Changes</button>
    </div>
  </div>
</form >
