.card-header{
    background-color: #7673734c;
    padding: 20px;
  }
  .card-footer{
    background-color: #7673734c;
    padding: 10px;
  }

  
  .panel{
    margin-left: 14%;
    right: 1% ;
  }
  .title{
    margin-right: 33.5%;
  }
  @media (max-width: 3500px) {
      
      .panel{
        margin-left: 16%;
        right: 1% ;
      }
      .title{
        margin-left:390px;
      }
  }
@media  (max-width: 2000px) {

  .panel{
    margin-left: 23%;
    right: 1%;
  }
  .title{
    margin-right: 0%;
  }
}
@media  (max-width: 500px) {
  .panel{
    margin-left: 15px;
    right: 10px;
    width:95%;
  }

  .title{
    margin-left: 10px;
  }
}
