<!-- Navbar-->
<header
  class="navbar navbar-expand navbar-light fixed-top navbar-box-shadow bg-light px-3 px-lg-4"
  data-scroll-header
  data-fixed-element
>
  <!-- <a class="navbar-brand d-lg-none" href="dev-setup.html">
    <img
      src="assets/img/components/logo/logo-dark.svg"
      alt="Createx"
      width="130"
    />
  </a> -->
  <button
    class="navbar-toggler d-block d-lg-none mr-5 menu"
    type="button"
    data-toggle="collapse"
    data-target="#componentsNav"
  >
    <span class="cxi-grid"></span>
  </button>
  <li class="nav-item dropdown user" *ngIf="token">
    <a
      class="nav-link dropdown-toggle"
      data-toggle="dropdown"
      style="cursor: pointer"
      ><i class="cxi-profile nav-tool-icon"></i>
      <span class="nav-tool-label">
        <ng-container *ngIf="users"
          >{{ users.name }} {{ users.lastname }}</ng-container
        >
      </span></a
    >
    <ul class="dropdown-menu">
      <a
        [routerLink]="['/login']"
        (click)="logout()"
        class="dropdown-item"
        style="cursor: pointer"
      >
        <i class="cxi-logout me-2"></i>
        Sign out
      </a>
    </ul>
  </li>
</header>

<!-- Side navigation (Off-canvas)-->
<aside class="cs-offcanvas cs-offcanvas-expand bg-dark" id="componentsNav">
  <div class="cs-offcanvas-cap d-none d-lg-block py-4">
    <a
      class="navbar-brand py-2"
      style="width: 60%; height: 15%"
      [routerLink]="['dashboard']"
    >
      <img
        style="width: 90%"
        src="../../../../assets/img/components/logo/logoshop.png"
        alt="Store Web"
        width="130"
      />
    </a>
    <span class="badge badge-warning">Store Web</span>
  </div>
  <div class="cs-offcanvas-cap d-flex d-lg-none">
    <div class="d-flex align-items-center mt-1">
      <h5 class="text-light mb-0 mr-3">Menu</h5>
      <span class="badge badge-warning">Store Web</span>
    </div>
    <button
      class="close text-light"
      type="button"
      data-toggle="collapse"
      data-target="#componentsNav"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- <div
    class="d-flex d-lg-none align-items-center py-4 px-3 border-bottom border-light"
  >
    <a class="btn btn-primary btn-block mr-3 px-4" href="index.html"
      ><i class="cxi-eye mt-n1 mr-2"></i>Preview</a
    >
    <a
      class="btn btn-success btn-block mt-0 px-4"
      href="../components/typography.html"
      ><i class="cxi-layouts mt-n1 mr-2"></i>Components</a
    >
  </div> -->
  <div
    class="cs-offcanvas-body px-0 pt-4 pb-grid-gutter"
    data-simplebar
    data-simplebar-inverse
  >
    <h6 class="font-size-lg text-light px-4 mt-2 mb-3">Contents</h6>
    <hr class="hr-gradient hr-light mb-2 opacity-25" />
    <nav class="nav nav-light">
      <a
        class="nav-link px-4"
        routerLinkActive="active"
        [routerLink]="['/dashboard']"
        >Home</a
      >
      <a
        class="nav-link px-4"
        routerLinkActive="active"
        [routerLink]="['/index/users']"
        >Users</a
      >
      <a
        class="nav-link px-4"
        routerLinkActive="active"
        [routerLink]="['/index/products']"
        >Products</a
      >
      <a
        class="nav-link px-4"
        routerLinkActive="active"
        [routerLink]="['/index/coupon']"
        >Coupons</a
      >
      <a
        class="nav-link px-4"
        routerLinkActive="active"
        [routerLink]="['/index/contact']"
        >Menssages</a
      >
      <a
        class="nav-link px-4"
        routerLinkActive="active"
        [routerLink]="['/index/sales']"
        >Sales</a
      >
      <a
        class="nav-link px-4"
        routerLinkActive="active"
        [routerLink]="['/index/config']"
        >Configuration</a
      >
    </nav>
  </div>
</aside>
